# Python Einführung
## Unterüberschrift
normaler Text **fett** *kursiv* 
- Punkt 1
- Punkt 2
- Punkt 3

In [14]:
print("Hello World")

Hello World

In [15]:
# Das ist ein Kommentar
print("twas")

twas

In [16]:
# Datentypen
name  = "Lovelace"

In [17]:
print(name)

Lovelace

In [18]:
name

'Lovelace'

In [19]:
age = 73

In [20]:
size = 1.7123

In [21]:
knows_math = True
print(knows_math)
likes_slacking = False
print(likes_slacking)

True
False

In [22]:
# Operatoren
5 + 5

10

In [23]:
age * 100

7300

In [24]:
name + name

'LovelaceLovelace'

In [25]:
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [26]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [ ]:
name + "10"

In [ ]:
size/age

In [ ]:
name + str(10)

In [ ]:
number_of_articles ="50"

In [ ]:
int(number_of_articles)

In [ ]:
type(number_of_articles)

In [ ]:
number_of_articles = int(number_of_articles)

In [ ]:
type(number_of_articles)

# Funktionen und Methoden

In [ ]:
name

In [ ]:
len(name)

In [ ]:
name.upper()

In [ ]:
name_upper = name.upper()

In [ ]:
print(name_upper)

In [ ]:
name.count("e")

In [ ]:
name.replace("lace", " is everywhere")

# Listen und Dictionaries

In [27]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [ ]:
names[2]

In [ ]:
# In Python wird von 0 an gezählt, daher wird der dritte Name als zweiter ausgegeben.

In [ ]:
names[1]

In [ ]:
names[-1]

In [ ]:
# Zeigt das letzte Element in der Liste.

In [ ]:
names[0:3]

In [ ]:
# Zeigt alle Elemente von 0 bis 3. Der erste Wert der Anfrage ist inkludierend, der letzte Teil exkludierend. Daher wird Lovelace angezeigt, aber nicht Hawking.

In [ ]:
names[2:]

In [ ]:
# Zeigt alles von 2 bis Ende.

In [ ]:
authors_and_birth_years = {"Lovelace": 1882, 
                           "Darwin": 1809, 
                           "Noeter": 1882}

In [ ]:
authors_and_birth_years["Darwin"]

In [ ]:
authors_and_birth_years["Noeter"]

## for-Schleife

In [35]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [36]:
for name in names:
    print(name + " did awesome stuff")
    print("-------------------------")

Lovelace did awesome stuff
-------------------------
Darwin did awesome stuff
-------------------------
Curie did awesome stuff
-------------------------
Hawking did awesome stuff
-------------------------

In [37]:
for name in names:
    print(name + " did awesome stuff")
print("-------------------------")

Lovelace did awesome stuff
Darwin did awesome stuff
Curie did awesome stuff
Hawking did awesome stuff
-------------------------

## Bedingte Anweisungen (Conditionals)

In [38]:
temp = 20
if temp > 15:
    print("It's warm")

It's warm

In [39]:
20 > 15

True

In [40]:
temp = 10
if temp > 15:
    print("It's warm")

In [41]:
temp = 20
if temp > 15:
    print("It's warm")
else:
    print("It's cold")

It's warm

In [42]:
temp = 10
if temp > 15:
    print("It's warm")
else:
    print("It's cold")

It's cold

In [43]:
temp = 15
if temp>=25:
    print("It's hot")
elif temp > 15:
    print("It's warm")
else:
    print("It's cold")

It's cold

In [44]:
temp = 25
if temp>=25:
    print("It's hot")
elif temp > 15:
    print("It's warm")
else:
    print("It's cold")

It's hot

# Dictionary mit Conditionals

In [45]:
authors_and_birth_years = {"Lovelace": 1882, 
                           "Darwin": 1809, 
                           "Noeter": 1882}

In [46]:
for author in authors_and_birth_years.keys():
    print(author)

Lovelace
Darwin
Noeter

In [47]:
authors_and_birth_years.keys()

dict_keys(['Lovelace', 'Darwin', 'Noeter'])

In [48]:
authors_and_birth_years.values()

dict_values([1882, 1809, 1882])

In [57]:
for author, birth_year in authors_and_birth_years.items():
    print(author + " was born in " + str(birth_year))

Lovelace was born in 1882
Darwin was born in 1809
Noeter was born in 1882